[Unit]
Description=Code Server
After=network-online.target

[Service]
Type=simple
User=codeuser
Group=codeuser
Environment="PASSWORD={{ codeserver_password }}"
ExecStart=/opt/{{ codeserver_name }}/code-server --host {{ codeserver_ip }} --port {{ codeserver_port }} --disable-ssh
Restart=on-failure

[Install]
WantedBy=multi-user.target